.overview-search {
	width: 12em;
	float: right;
}

.overview-content {
	width: calc(100% - 12em);
	height: 100%;
	overflow: auto;
	float: left;
}

.overview-content > svg > g > g {
	cursor: pointer;
	transition: opacity 0.5s ease-in-out;
}

.overview-content > svg > g > g:hover {
	opacity: 0.8;
}